@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn_dark_green{
  background-color:#02623f;
  @apply px-8 py-4 text-white transition-all hover:bg-black
}

.btn_green{
  background-color: #30AF5B;
  border-color: #30AF5B;
  @apply  px-8 py-5 text-white
}

.hero-map {
  background-image: url('/pattern-bg.png');
  @apply absolute right-0 top-0 h-screen w-screen  bg-cover bg-center md:-right-28 xl:-top-60;
}